header {
    &.header-center-home {
        .mega-menu-content {
            .iq-nav-menu {
                li {
                    ul {
                        &.mega-menu-item {
                            left: auto;
                            right: -100%;
                            transform: translateX(12%);
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 1200px) {
    header {
        .navbar {
            .iq-nav-menu.navbar-nav {
                li {
                    ul.sub-nav {
                        &.mega-menu-item {
                            li {
                                &:hover {
                                    >a.nav-link {
                                        padding-right: 25px;

                                        &.active {
                                            padding-right: 25px;
                                        }
                                    }
                                }

                                >a.nav-link {
                                    &.active {
                                        padding-right: 25px;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 1280px) {
    header {
        &.header-center-home {
            .mega-menu-content {
                .iq-nav-menu {
                    li {
                        ul {
                            &.mega-menu-item {
                                transform: translateX(6%);
                            }
                        }
                    }
                }
            }
        }
    }
}