// BLOG/SHOP pagination
.page-numbers {
    li {
      .page-numbers {
        display: block;
        padding: 0 15px;
        margin: 0 5px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: var(--#{$variable-prefix}primary);
        border: 1px solid rgba(134, 140, 156, 0.18);
        cursor: pointer;
  
        &.current {
          background-color: var(--#{$variable-prefix}primary);
          color: $white;
          border-color: var(--#{$variable-prefix}primary);
        }
  
        &:hover {
          background-color: var(--#{$variable-prefix}primary);
          color: $white;
          border-color: var(--#{$variable-prefix}primary);
        }
      }
    }
  }