.select2-container{
    &.select2-container--default{
        .select2-selection--single{
            .select2-selection__arrow{
                right: auto;
                left: 17px;
            }

            .select2-selection__rendered{
                padding-right: 8px;
                padding-left: 20px;
                direction: rtl;
            }
        }
    }
}

.select2-container--default{
    .select2-results{
        >.select2-results__options{
            direction: rtl;
            padding-right: 0;
        }
    }
} 

.choices[data-type*=select-one]::after {
    right: auto;
    left: 1rem;
}