.product-detail-tabs {
    .nav-link {
        position: relative;
        color: $body-color;

        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 4px;
            transform: scale(0);
            background-color: var(--#{$variable-prefix}primary);
            transition: all 0.5s ease-in-out;
        }

        &.active,
        &:hover {
            color: $headings-color;
        }

        &.active,
        &:hover {
            &::after {
                transform: scale(1);
            }
        }
    }

    .tab-pane {
        .table {
            th {
                width: 150px;
            }
        }
    }
}



.product-social-share {
    ul {
        li {
            a {
                height: 30px;
                width: 30px;
                line-height: 30px;
            }
        }
    }
}

@media (max-width: 767px) {
    .product-detail {
        .iq-product-box{
            margin: 0 0 32px;
        }
    }
}