form{
    &.mail-box{
        button{
            &.btn-submit{
                right: auto;
                left: 0;
            }
        }
    }
}

.mail-box {
    button {
      &.btn-submit {
        right: auto;
        left: 0;
      }
    }
  }