.banner-detail-slider{
    left: 50px;
    right: auto;
}

.title-box-slider{
    margin-left: 0;
    margin-right: 20px;

    &::before{
        border-width: 0 20px 20px 0;
        left: auto;
        right: -20px;
    }
}