
    .mega-menu-content {
        .iq-nav-menu {
            li {
                ul.mega-menu-item {
                    width: 1360px;

                    li {
                        width: 24.7%;
                        display: inline-block;
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    .header-center-home {
        .mega-menu-content {
            .iq-nav-menu {
                li {
                    ul.mega-menu-item {
                        left: -100%;
                        transform: translateX(-12%);
                    }
                }
            }
        }
    }


@media(max-width:1800px) {
   
        .mega-menu-content {
            .iq-nav-menu {
                li {
                    ul.mega-menu-item {
                        width: 1190px;
                    }
                }
            }
        }

        .navbar {
            .iq-nav-menu.navbar-nav {
                li {
                    ul.sub-nav.mega-menu-item {
                        max-width: 1190px;
                    }
                }
            }
        }

    
}

@media(max-width:1600px) {
   
        .mega-menu-content {
            .iq-nav-menu {
                li {
                    ul.mega-menu-item {
                        width: 1024px;
                    }
                }
            }
        }

        .navbar {
            .iq-nav-menu.navbar-nav {
                li {
                    ul.sub-nav.mega-menu-item {
                        max-width: 1024px;
                    }
                }
            }
        }

    
}

@media(max-width:1280px) {
    
        .mega-menu-content {
            .iq-nav-menu {
                li {
                    ul.mega-menu-item {
                        width: 980px;

                        li {
                            width: 24%;
                        }
                    }
                }
            }
        }

        .header-center-home {
            .mega-menu-content {
                .iq-nav-menu {
                    li {
                        ul.mega-menu-item {
                            transform: translateX(-6%);
                        }
                    }
                }
            }
        }

        .navbar {
            .iq-nav-menu.navbar-nav {
                li {
                    ul.sub-nav.mega-menu-item {
                        max-width: 980px;
                    }
                }
            }
        }

    }


@media(max-width:1199px) {
   
        .mega-menu-content {
            .iq-nav-menu {
                li {
                    ul.mega-menu-item {
                        width: auto;

                        li {
                            width: 100%;
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .navbar {
            .iq-nav-menu.navbar-nav {
                li {
                    ul.sub-nav.mega-menu-item {
                        max-width: inherit;
                        box-shadow: none;
                        padding: 0;
                        max-width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
        .header-center-home {
            .mega-menu-content {
                .iq-nav-menu {
                    li {
                        ul.mega-menu-item {
                            left: 0;
                            transform: none;
                        }
                    }
                }
            }
        }
    }


@media (min-width: 1200px){
   
        .navbar {
            .iq-nav-menu.navbar-nav{
                li{
                    ul.sub-nav{
                        &.mega-menu-item{
                            max-width: 1360px;

                            li {
                                a.nav-link {

                                    &::after {
                                        display: none;
                                    }

                                    &.active {
                                        padding-left: 25px;
                                        background-color: transparent;
                                    }

                                    img {
                                        box-shadow: 0px 0px 87.3px 2.7px rgba(0, 0, 0, 0.06);
                                        transition: all 0.3s ease-in-out;
                                    }

                                    text-align: center;
                                    font-weight: 500;

                                }

                                &:hover {
                                    >a.nav-link {
                                        padding-left: 25px;
                                        background-color: transparent;

                                        img {
                                            transform: translateY(-8px);
                                        }
                                    }

                                }

                            }
                        }
                    }
                }
            }
        }

        ul.sub-nav.mega-menu-item {
            height: 430px !important;
            overflow: auto;
        }

        .header-center {
            .iq-nav-menu li>ul.mega-menu-item {
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
            }

            .iq-nav-menu>li:first-child {
                position: static;
            }
        }
    
}