.cust-swiper-wrapper{
    .swiper-wrapper{
        margin-bottom: 2rem !important;
    }
}

.cust-globelteam-swiper{
    .swiper-wrapper{
        margin-bottom: 0.5rem !important;
    }
}

.dentist-testi-background{
     background-repeat: 'no-repeat';
     background-size: 'cover'; 
     background-position: 'right center';
}

.custom-phunsuc-wangade {
    .swiper-wrapper{
        padding: 0px;
        margin: 0px;
        margin-bottom: 0.5rem;
        list-style: none;
    }
}
