/*!
* Version: 1.4.1
* Template: kiviCare - Medical Clinic & Patient Management Html Template
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for Template.
*
*/


// Configuration
@import "./bootstrap/functions";

// KiviCare Design system
@import "./kivicare-design-system/variables";
@import "./kivicare-design-system/variables-dark";
@import "./kivicare-design-system/variables/index";
@import "./bootstrap/variables";
@import "./bootstrap/variables-dark";
@import "./bootstrap/maps";
@import "./bootstrap/mixins";
@import "./bootstrap/utilities";

// Custom Mixin And Helper
@import "./kivicare-design-system/helper/mixins";
@import "./kivicare-design-system/helper/reboot";

//rtl
@import "./rtl/index";